@media (max-width: 479px) {
	body::before{
		content: "<=321";
		font-weight: normal;
		display: block;
		text-align: left;
		background: red;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100px;
	}	
		
	#menu{
		padding-top:0px;
		padding-left:20px;		
	}
	
	#menu #page-header{
		display:none;
	}
	
	#page-header h1{
		padding-top:10px;
	}
	
	#page-region{
		padding-top:20px;
		padding-left:10px;
	}
	
	.tile .tile-content {
		padding-top:5px;
		padding-left:10px;
	}
	.tile.medium {
	  width: 55px;
	}
	.tile.medium .tile-content {
	  width: 55px;
	}	
	.tile.medium .tile-content.full{
	  padding:5px;	
	}
	
	.tile.medium-vertical {
	  height: 55px;
	}
	.tile.medium-vertical .tile-content {
	  height: 55px;
	}
	.tile.medium-vertical .tile-content.full{
	  padding:5px;	
	}	
	
	.tile .brand  > .name{	
		margin-bottom:0px;
		margin-left:8px;
	}
	
	.tile .brand  > .badge{	
		margin-right:2px;
		margin-bottom:0px;
		padding-bottom:0px;
		height:20px;
		width:58px;
		font-weight:100;
		text-align: right;
		font-size:12px;
	}
	
	.back-button.big {
	    height: 30px;
	  	top: 10px;
	  	left: 10px;
	    width: 30px;
	}	
	
	.subCategoriesList{
		margin-left:15px;
		padding:0px !important;
	}
	
	.subCategoriesList .icon{
		height: 30px !important;
		width: 30px !important;
	}	
	
	#listadoDatos .listview li{
		width:250px;
		margin-left:0px;
		padding:0px !important;
	}
	
	#listadoDatos ul:nth-child(1) {
	    margin-left: 0px;
	}
}