@media (min-width: 321px) and (max-width: 480px) {
	#inicio{
		padding-top:5px;
		padding-left:40px;		
	}
	
	body{
		width: 960px;
	}
	
	.page.snapped {
	  width:480px;
	  float:left;
	}
	
	.page.fill {
	  width:480px;
	  float:left;
	}
	
	#page-header h1{
		padding-top:10px;
	}
	
	#page-region{
		padding-top:20px;
		padding-left:10px;
	}

	.tile .tile-content {
		padding-top:5px;
		padding-left:10px;
	}
	.tile.medium {
	  width: 55px;
	}
	.tile.medium .tile-content {
	  width: 55px;
	}	
	.tile.medium .tile-content.full{
	  padding:0px;	
	}
	
	.tile.medium-vertical {
	  height: 55px;
	}
	.tile.medium-vertical .tile-content {
	  height: 55px;
	}
	.tile.medium-vertical .tile-content.full{
	  padding:0px;	
	}	
	
	.tile .brand  > .name{	
		margin-bottom:0px;
		margin-left:8px;
	}
	
	.tile .brand  > .badge{	
		margin-right:2px;
		margin-bottom:0px;
		padding-bottom:0px;
		height:20px;
		width:58px;
		font-weight:100;
		text-align: right;
		font-size:12px;
	}

	.back-button.big {
	    height: 30px;
	  	top: 10px;
	  	left: 10px;
	    width: 30px;
	}	
	
	.subCategoriesList{
		margin-left:15px;
		padding:0px !important;
	}

	.subCategoriesList .icon{
		height: 30px !important;
		width: 30px !important;
	}	
	
}